[submodule ".github/DeepPhonemizer"]
	path = .github/DeepPhonemizer
	url = https://github.com/spring-media/DeepPhonemizer
[submodule ".github/onnxruntime"]
	path = .github/onnxruntime
	url = https://github.com/microsoft/onnxruntime
[submodule ".github/mecab"]
	path = .github/mecab
	url = https://github.com/taku910/mecab
